#header {
  h1 {
    margin: 0;
    text-align: left;
    color: #ed6f6d;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    font-style: normal;
    span {
      &.title-something {
        display: inline-block;
        font-size: 0.65em;
      }
      &.title-fail {
        display: inline-block;
        font-size: 1.15em;
      }
    }
  }
}
